html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #fff;
}

.content {
    text-align: center;
    padding: 80px 20px 75px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.main-title {
    font-size: 2em;
    font-weight: bold;
    color: #090909;
    margin-bottom: 10px;
}

.sub-title {
    font-size: 1.5em;
    color: #007700;
    margin-top: 0;
    margin-bottom: 50px;
}

.card-title {
    font-size: 1.5em;
    color: #222;
    margin-bottom: 20px;
}

/* Image layout */
.images-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* small gap between images */
    flex-wrap: wrap;
    gap: 40px;
}

.image-card {
    width: 320px;
    background: #fff;
    border-radius: 0px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    padding-bottom: 20px;
}

.image-box img {
    width: 380px;
    height: 250px;
    object-fit: cover;
    border-radius: 0px;
    display: block;
    margin: 0 auto;
}

.image-box figcaption {
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 15px;
    color: #222;
}

.image-card-h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 1.1rem
}

.p {
    font-size: 0.95rem;
    color: #555;
    line-height: 1.6;
    padding: 0 20px;
}

@media (max-width: 800px) {
    .images-row {
        flex-direction: row;
    }

    .image-box img {
        width: 90%;
        height: auto;
    }

}

/* === FOOTER === */
.foot {
    background-color: #F6E3CC;
    color: rgb(240, 141, 41);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 90%;
    max-width: 1200px;
    flex-wrap: wrap;
    gap: 20px;
}

.logo-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.logo-footer img {
    margin-top: 10px;
}

.logo-footer h2 a {
    color: rgba(240, 141, 41);
    text-decoration: none;
    font-size: 20px;
}

.footer-buttons {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 20px
}

.footer-btn {
    /* warm golden tone */
    color: #E08230;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 15px;
}

.footer-btn:hover {
    background-color: #faeedc;
    transform: translateY(-2px);
}

.contact-info h2 {
    font-size: 18px;
    color: #E08230;
    font-weight: bold;
}

.contact-info p {
    margin: 4px 0;
    font-size: 15px;
}


.social-media h2 {
    font-size: 18px;
    font-weight: bold;
    color: #E08230;
}


.social-media ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.social-media ul li {
    display: block;
    list-style-type: disc;
    margin-block-start: 5px;
    margin-block-end: 5px;
    padding-inline-end: 10px;
    unicode-bidi: isolate;
}

.social-media a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.social-media a:hover img {
    transform: scale(1.2);
}

.copy {
    text-align: center;
    font-size: 14px;
    color: #E08230;
    font-weight: bold;
    background-color: #F6E3CC;
    padding: 10px;
}

.image-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;
}

.text-content {
    flex: 1;
}

.text-content p {
    font-size: 25px;
    font-style: italic;
    color: #f03805fb;
    line-height: 1.8;
    text-align: justify;
}