html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

..dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 180px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
}

.dropdown-content a {
    color: #333;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
    font-size: 0.95em;
}

.dropdown-content a:hover {
    background-color: #e8efff;
}

.dropdown:hover .dropdown-content {
    display: block;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


----------------- .main-title {
    font-size: 2em;
    font-weight: bold;
    color: #004c99;
    margin-bottom: 5px;
}

.sub-title {
    font-size: 1.2em;
    color: #007700;
    margin-top: 0;
    margin-bottom: 30px;
}

.compare-card {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    padding: 5px;
}

.card-title {
    font-size: 1.5em;
    color: #222;
    margin-bottom: 20px;
}

/* Image layout */
.images-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* small gap between images */
    flex-wrap: wrap;
}

.image-box {
    text-align: center;
}

.image-box img {
    width: 380px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ddd;
    display: block;
    margin: 0 auto;
}

.caption {
    margin-top: 8px;
    font-size: 16px;
    color: #333;
}

.left-image img {
    height: 400px;
    width: auto;
    border-radius: 10px;
    object-fit: cover;
}

.right-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-images img {
    width: 300px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}

.caption {
    text-align: center;
    font-weight: bold;
    margin-top: 8px;
}

h2.card-title {
    text-align: center;
    margin-top: 30px;
}

@media (max-width: 800px) {
    .images-row {
        flex-direction: row;
    }

    .image-box img {
        width: 90%;
        height: auto;
    }

}

.top-text {
    font-size: 1.075em;
    line-height: 1em;
    margin-bottom: 0;
    color: sienna;
    left-padding: 20px;

}

.bottom-text {
    margin: 16px o;
    font-size: .90em;
    left-padding: 20px;
}